@media(max-width: 1499px) {
    .home-form-contaner {
        bottom: -4rem;
    }

    .section {
        padding-top: 8rem;
    }
}

@media(max-width: 1186px) {
    .container {
        padding: 0rem 4rem;
    }

    .section {
        padding-top: 8rem;
    }

    .home-form-contaner {
        width: calc(90% - 6rem);
    }

    .home-form-contaner {
        bottom: -4rem;
    }
}

@media(max-width: 937px) {
    .nav {
        display: none;
    }

    .nav-bar {
        justify-content: center;
    }

    .home-form-contaner form {
        flex-wrap: wrap;
    }

    .form-content {
        margin-bottom: 15px;
    }

    .about-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-text h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .home-text p {
        font-size: 12px;
    }
}

@media(max-width: 843px) {
    .travel-content {
        width: 100%;
    }
}

@media(max-width: 595px) {
    .container {
        padding: 0rem 2rem;
    }

    .section {
        padding-top: 12rem;
    }

    .home-form-contaner {
        bottom: -10rem;
    }

    .home-form-contaner {
        padding: 1rem 1rem;
    }

    .home-form-contaner {
        bottom: -6rem;
    }

    .about-img img {
        width: 340px;
        height: 180px;
    }

    .home-text h1 {
        font-size: 20px;
    }

    .travel-img img {
        width: 251px;
        height: 200px;
    }
    .footer-container h1 {
        font-size: 20px;
    }

    .footer-icon i {
        font-size: 20px;
        margin-inline: 10px;
    }

    .footer-container p {
        font-size: 13px;
    }
    .footer p{
        font-size: 12px;
    }
    
}

@media(max-width: 358px) {
    .home-text h1 {
        font-size: 20px;
    }

    .home-text p {
        font-size: 10px;
    }

    .about-img img {
        width: 240px;
        height: 140px;
    }

    .travel-img img {
        width: 207px;
        height: 170px;
    }

    .form-content .form-input label {
        font-size: 12px;
    }

    .about-text p {
        font-size: 14px;
    }

    .about-text h1 {
        font-size: 16px;
    }

    .about-text span {
        font-size: 10px;
    }

    .btn a {
        font-size: 10px;
    }

    .heading p {
        font-size: 10px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .heading h2 {   
        font-size: 25px;
    }

    .footer-container h1 {
        font-size: 20px;
    }

    .footer-icon i {
        font-size: 20px;
        margin-inline: 10px;
    }

    .footer-container p {
        font-size: 13px;
    }
    .footer p{
        font-size: 12px;
    }
    .home-form-contaner {
        width: calc(100% - 6rem);
        padding: 2rem 2rem;
    }
}